:root {
  --red: #e00707;
  --linkBlue: #0073bb;
  --white: white;
  --gray: gray;
  --inputWidth: 18.25rem;
  --inputHeight: 1.8rem;
  --formWidth: 18.75rem;
  --formHeight: 19.5rem;
  --login-H1-Size: 1.375rem;
  --login-H1-Weight: 450;
  --lightGray: #ebebeb;
}

.demo {
    width: 100%;
    height: 2.634rem;
    color: white;
    background-color: var(--linkBlue);
    border: none;
    border-radius: 0.125rem;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-top:0.3rem;
    justify-content:center;
}
.demoLogin {
  width: 78.88px;
  height: 46px;
  /* padding: 8px 16px; */
  border-radius: 4px;
  background-color: var(--linkBlue);
  color: white;
  font-weight: 450;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.demo:hover{
    opacity: 0.8;
        transition: all ease-in-out 0.3s;
        cursor: pointer;

}

.demoLogin:hover {
  background-color: royalblue;
  border-color: royalblue;
  color: white;
  transition: all ease-in-out 0.6s;
  cursor: pointer;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}
