.bizProfileDiv {
  position: relative;
  width: 100%;
  height: 100%;
}
.DeleteIcon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.bizImageHolder {
  width: 100%;
  height: 84vh;
  display: flex;
  position: relative;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
/* .bizImageHolder:after{
    content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, transparent 80%, rgba(0, 0, 0, 0.5) 100%);
} */
.dark{
/* width:100%;
height:100%;
padding-bottom:50px;
position:absolute;
bottom:0;
background-color: rgba(0, 0, 0, 0.5); */
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: linear-gradient(to bottom, transparent 70%, rgba(0, 0, 0, 0.5) 100%); */
      background: rgba(0,0,0,0.3);
      }



.bizRating {
  /* max-width: 500px; */
  display: flex;
  position: absolute;
  height: 160px;
  flex-direction: column;
  justify-content: space-evenly;
  left: 10rem;
  /* z-index: 1; */
}
.ReviewPicDiv {
  display: flex;
  flex-wrap: wrap;
  max-height: 250px;
  overflow: auto;
  justify-content: flex-start;
  margin: auto;
}
.userReviewPictures {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 174px;
  height: 132px;
  border-radius: 6px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}
.bizRating h1 {
  font-size: 70px;
  font-weight: 700;
  color: white;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.35);


}

.bizRating div {
  display: flex;
  align-items: center;
  /* justify-content: center;
	*/
  width: 300px;
}

.ratingLength {
  margin-left: 5px;
  display: flex;
  color: white;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.35);
}

.bizCategory {
  color: white;
  font-weight: 500;
  /* text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.35); */
}

._reviewButton {
  display: flex;
  width: 200px;
  height: 50px !important;
  background-color: var(--red);
  color: white;
  padding: 10px;
  font-size: 20px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  align-self: flex-start;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 20px;
}

._reviewButton:hover {
  background-color: rgba(255, 0, 0, 1);
  transition: ease-in-out 0.2s;
}
.reviewLinkButton {
  width: 100%;
  height: 100%;
}

.bizComments {
  margin-top: 30px;
}

._comments {
  /* display: flex; */
  margin-bottom: 20px;
}
.allComments {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom:15px;
  width:762px;
}
.bizInfoWrapper{
  display:flex;
  justify-content: center;
}
.bizShowPageInfo {
  /* margin: auto; */
  width: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}
.ratingDate {
  display: flex;
  align-items: center;
}

.ratingDate h1 {
  margin-left: 10px;
}
.authorProfile {
  /* padding: 20px; */

  width: 762px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.255); */
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.commentReviewBodyP {
  line-height: 2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  word-break: break-all;
    white-space: pre-wrap;
}
.commentReviewBodyDiv {
  display: flex;
  flex-wrap: nowrap;
}
.divider {
  height: 30px;
  /* border: 1px solid red; */
  display: block;
  position: relative;
}

.bizLocation {
  display: flex;
  /* width:60rem; */
  /* height: 300px; */
  /* align-items: center; */
  flex-direction: column;
}

.locationWrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 762px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  /* border-radius: 10px; */
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.locationAddress{
  margin-top: 10px;
  width:315px;
  font-size: 14px;
}

.locationAddress h1{
  color:rgba(2, 122, 151, 1);
  font-weight:500;
}

.locationAddress h2 {

  font-weight: 500;
}
.getDirection{

  width:350px;
  height:200px;
  border:1px solid rgba(0,0,0,0.2);
  /* padding-left:0.8rem;
  padding-right:0.8rem; */
  padding:1rem;
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top:10px;
  margin-bottom:10px;
}

.contactMeHolder{

    width: 350px;
      height: 200px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      /* padding-left:0.8rem;
      padding-right:0.8rem; */
      padding: 1rem;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-top: 10px;
      margin-bottom: 10px;
}

.projectCard{
    width: 350px;
      height: 200px;
      border: 1px solid rgba(0, 0, 0, 0.2);

      padding: 1rem;
      border-radius: 5px;
      display: flex;

      margin-top: 10px;
      margin-bottom: 10px;
}
.sideBar{
  display:flex;
  flex-direction: column;

    height: 100%;

        top: 20px;
}
.sideBar button{

}
.getDirection h1{
  /* text-align: center; */
}
.sara_links{
  display:flex;
  justify-content: space-between;
margin-top: 10px;

}
.sara_links h1{
  border-bottom:3px solid rgba(0,0,0,0);
  font-size: 1rem;
  color:black;
}

.sara_links h1:hover {
  border-bottom: 3px solid red;
  cursor:pointer;
  transition: all 0.3s;

}
.contactMe{
  /* color: rgba(2, 122, 151, 1); */
  color:black;
  font-weight: 500;
  font-size: 2.5rem;
  /* margin-bottom:0.2rem; */
    border-bottom: 1px solid rgba(0, 0, 0,0.2);
    border-width: 10%;
}
.sara{
  width:100%;
  margin-top:10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.sara h1{
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom:8px;

}
.sara h2{
  font-size:14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.sara p{
  font-size: 14px;
}
.getDirection h3 {
  color: rgba(0,0,0,0.5);
  font-weight: 500;

}

.resumeLink{
  width:100%;
  height:35px;
  background-color: rgb(228, 0, 0);
  border-radius: 5px;
  color:white;
  display:flex;
  align-items: center;
  justify-content: center;
}

.resumeLink:hover{
  background-color: rgb(255, 0, 0);
  transition: all 0.3s;
}

.locationMap  {
  width: 314px;
  height: 150px;
  /* border:1px solid red; */
}
.hours {
  width: 100%;
margin-left:60px;
  display: flex;
}

.hours ul{
margin: 5px;
  display: flex;
  flex-direction: column;
justify-content: space-between;
}
.userInfoSide {
  display: flex;
  align-items: center;
}
.myInfoComment {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  justify-content: space-between;
}
.userInfoComment {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}
.myInfoComment i {
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.761);
}

.myInfoComment h1 {
  margin-left: 10px;
  font-weight: 700;
  font-size: 18px;
}
.userInfoComment i {
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.761);
}

#moreButton {
  width: 2rem;
  height: 2rem;
  background-color: white;
  color: rgba(149, 157, 165, 0.5);
}
.userInfoComment h1 {
  margin-left: 10px;
  font-weight: 700;
  font-size: 18px;
}
.commentBody {
  min-height: 10px;
  max-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.yourReview {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
}
.userProfilePicURL {
  border-radius: 50%;
  /* box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5); */
}
.review_Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px;
}

.infoWrapper {
  margin: 20px;
}

.WRAPPER {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
}

.content_Wrapper {
  display: flex;
  width: 100%;
  /* flex-wrap: wrap; */
}

.MoreImages {
  width: 100%;
  display: flex;
  justify-content: flex-end;

}
.MoreImages h1{
  margin-right:40px;
  width:200px;
  border:3px solid rgb(255, 0, 0);
  height:40px;
  display:flex;
  align-items: center;
  justify-content: center;
  color:rgb(255, 255, 255);
  background-color: red;
  border-radius: 5px;
  cursor:pointer;
  font-weight: 500;
    /* z-index:1; */
}

.MoreImages h1:hover{
  transform: scale(1.1);
  transition: all, 0.3s;
}
