:root {
  --red: #e00707;
  --linkBlue: #0073bb;
  --white: white;
  --gray: gray;
  --inputWidth: 18.25rem;
  --formWidth: 18.75rem;
  --formHeight: 19.5rem;
  --login-H1-Size:1.375rem;
  --login-H1-Weight:450;

}
.loginForm {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: var(--formWidth);
  height: 20rem;
  justify-content: space-between;
  margin-bottom:25vh;
}

.loginForm input:focus {
  outline: none;
  border: 1px solid rgba(0, 68, 255, 0.686);
  box-shadow: 1px 0px 3px rgba(0, 68, 255, 0.483);
}

.loginIntro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 150px;
  width: 100%;
  align-items: center;
}
.loginIntro h1 {
  color: var(--red);
  font-weight:var(--login-H1-Weight);
  font-size: var(--login-H1-Size)
}

.loginIntro h4 {
  font-size: 14px;
  font-weight: var(--login-H1-Weight);
  margin-right: 0.313px;
}

.loginIntro p {
  font-weight: var(--login-p-Weight);
  font-size: 0.688rem;
  text-align: center;
}

.loginIntro p a {
  color: var(--linkBlue);
}

.loginIntro p a:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--linkBlue);
}

.loginIntro div {
  display: flex;
  align-items: center;
}

.formInputs {
  width: var(--formWidth);
}
.formInputs input {
  width: var(--inputWidth);
  height: var(--inputHeight);
  margin-bottom: 0.563rem;
}

.formInputs button {
  width: 100%;
  height: 2.634rem;
  color: white;
  background-color: var(--red);
  border: none;
  border-radius: 0.125rem;
  font-weight: 700;
  font-size: 1rem;
}

.formInputs button:hover {
  opacity: 0.8;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.signupSmall {
  margin-top:10px;
  display: flex;
  justify-content: flex-end;
}
.signupSmall p {
  font-size: 0.75rem;
  color: gray;
  margin-right: 0.313rem;
  margin-bottom:0.3rem;
}
.signupLink{
  text-decoration: none;
  color:var(--linkBlue)
}
.Small {
  font-size: 12px;
  font-weight: 400;
}

.login_error{
  display: flex;
    /* flex-direction: column; */
    width: 60rem;
    height: 50px;

    justify-content: space-between;
    margin: auto;
    margin-top: 18px;
    align-items: center;
    position: relative;
    margin-bottom: 24px;
      background-color: #fcd6d3;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;


}

.login_error li{
    font-size: 14px;
      /* width: 100%; */
      min-height: 40px;
      max-height: 100%;
      display: flex;
      padding-left: 12px;
      padding-right:12px;
      padding-top: 3px;
      padding-bottom: 3px;
      align-items: center;
      background-color: #fcd6d3;
      /* border-radius: 5px; */
}
