:root {
    --red: #e00707;
    --linkBlue: #0073bb;
    --white: white;
    --gray: gray;
    --inputWidth: 18.25rem;
    --inputHeight: 1.8rem;
    --formWidth: 18.75rem;
    --formHeight: 19.5rem;
    --login-H1-Size: 1.375rem;
    --login-H1-Weight: 450;
}

.signupIntro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
    width: 100%;
    align-items: center;
}
.signupIntro h1{
color: var(--red);
    font-weight: var(--login-H1-Weight);
    font-size: var(--login-H1-Size)
}


.signupIntro h4 {
  font-size: 14px;
  font-weight: var(--login-H1-Weight);
  margin-right: 0.313px;
}

.signupIntro p {
    font-weight: var(--login-p-Weight);
    font-size: 0.688rem;
    text-align: center;
}


.signupIntro p a {
    color: var(--linkBlue);
}

.signupIntro p a:hover {

    border-bottom: 1px solid var(--linkBlue);

}
